<div class="container text-center">
    <h3>Wszystkie samochody</h3>
    <div class="row">
        <div *ngFor="let auto of autka" class="card ms-3 mb-3" style="width: 18rem;">
            <img class="card-img-top" src="{{auto.url}}" style="max-height: 200px;">
            <h5 class="card-title">{{auto.nazwa}}</h5>
            <div class="card-body">Oceń samochód {{auto.ranking}}
                <div *ngIf="auto.nieocenione">
                    <button type="button" (click)="auto.ranking = -1; auto.nieocenione = false" class="btn btn-danger">-</button> &nbsp;
                    <button type="button" (click)="auto.ranking = 1; auto.nieocenione = false" class="btn btn-success">+</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
    <div *ngFor="let auto of autka" style="border: 3px solid navy; width: 450px; margin-bottom: 20px; border-radius: 20px; padding: 7px; padding-bottom: 13px;">
    <img class="miniatura" src="{{auto.url}}" width="450px" style="border-radius: 20px;">
    <h5>{{auto.nazwa}}</h5>
    <div>Oceń samochód {{auto.ranking}}
        <div *ngIf="auto.nieocenione">
            <button type="button" (click)="auto.ranking = -1; auto.nieocenione = false">-</button> &nbsp;
            <button type="button" (click)="auto.ranking = 1; auto.nieocenione = false">+</button>
        </div>
    </div>
</div>
-->